# Mercado Pago Sandbox
MP_ACCESS_TOKEN_TEST=TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-000000000
NEXT_PUBLIC_MP_PUBLIC_KEY_TEST=TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Mercado Pago Producción
MP_ACCESS_TOKEN_PROD=APP_USR-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-000000000
NEXT_PUBLIC_MP_PUBLIC_KEY_PROD=APP_USR-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Selecciona el entorno que usarán las APIs: "test" o "production"
MP_ENVIRONMENT=test

# Llave pública que se expondrá en el frontend (automáticamente se deriva del entorno)
NEXT_PUBLIC_MP_PUBLIC_KEY=""
